*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 100vh;
    background-color: bisque;
}

footer{
    position: relative;
    width: 100%;
    background: #3586ff;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social, footer .information{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px 0px;
    flex-wrap: wrap;
}

footer .social li, footer .information li{
    list-style: none;
}

footer .social li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social li a:hover{
    transform: translateY(-10px);

}


footer .information li a{
    font-size: 1.3em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
    
}

footer .information li a:hover{
    color: rgb(153, 12, 12);
}

footer p{
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    font-size: 1.1em;
}

footer .para a{
    text-decoration: none;
    color: white;
    font-size: 1.2em;
}

footer .para a:hover{
    color: rgb(153, 12, 12);
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0px;
    width: 100%;
    height: 100px;
    background-image: url("wave.png");
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5 ;
    bottom: 10px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2 ;
    bottom: 15px;
    animation: animateWave_2 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.7 ;
    bottom: 20px;
    animation: animateWave_2 4s linear infinite;
}

@keyframes animateWave {
    0%{
        background-position-x: 1000px;
    }
    100%{
        background-position-x: 0px;
    }
}

@keyframes animateWave_2 {
    0%{
        background-position-x: 0px;
    }
    100%{
        background-position-x: 1000px;
    }
}

